.root__container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.story__item {
    background-color: rgb(218, 218, 218);
    border: 1px solid black;
    margin: 5px;
}

.story__item:hover {
    background-color: rgb(170, 170, 170);
    cursor: pointer;
}